/* Utility */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --black: #000000;
    --black_op: rgba(0, 0, 0, 0.5);
    --dark_blue: #141922;
    --dark_grey: #282828;
    --white: #ffffff;
    --grey: #717171;
    --lime: #adff2f;
    --grey-med: #5a5a5a;
    --light-grey: #c1c1c1;
}

/* Common */
a {
    text-decoration: none;
    display: block;
    color: var(--grey);
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

/* TEXT */

[class*=title] {
    font-weight: 700;
}

[class^=title] {
    color: var(--white);
}

[class*=sub_title] {
    color: var(--grey);
}

.title_1 {
    font-size: 1.6rem;
}

.title_2 {
    font-size: 1.1rem;
}

.sub_title_1 {
    font-size: 0.9rem;
}

.sub_title_2 {
    font-size: 0.8rem;
}

.txt_white {
    color: var(--white);
}

.txt_center {
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}


/* FLEX */
.d-flex {
    display: flex;
}

.j_center {
    justify-content: center;
}

.j_space-betw {
    justify-content: space-between;
}

.j_space-around {
    justify-content: space-around;
}

.j_end {
    justify-content: flex-end;
}

.a_it_center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

/* MARGIN - PADDING */
.mt-3rem {
    margin-top: 3rem;
}

.mt-1_5rem {
    margin-top: 1.5rem;
}

.mb-1rem {
    margin-bottom: 1rem;
}

.ml-1rem {
    margin-left: 1rem;
}

.mt-0_75rem {
    margin-top: 0.75rem;
}

.m-0_5rem {
    margin: 0.5rem;
}

.mr-0_5rem {
    margin-right: 0.5rem;
}

.ml-0_5rem {
    margin-left: 0.5rem;
}

.mt-0_4rem {
    margin-top: 0.4rem;
}

.pl-2rem {
    padding-left: 2rem;
}

.pt-1rem {
    padding-top: 1rem;
}

.pr-1rem {
    padding-right: 1rem;
}

.pl-1rem {
    padding-left: 1rem;
}

.pb-0_5rem {
    padding-bottom: 0.5rem;
}

.pl-0_6rem {
    padding-left: 0.6rem;
}

.pr-0_6rem {
    padding-right: 0.6rem;
}

/* Layout sezioni */
.wrapper {
    width: 100%;
    height: 100vh;
}

main {
    width: 100%;
    height: calc(100vh - 80px);
}

.main_content {
    width: calc(100% - 230px);
    background-color: var(--dark_blue);
    overflow-y: auto;
}

.inner_content {
    height: 100%;
    padding-top: 95px;
}

/* barra op. in alto */
.upgrade {
    width: calc(100% - 230px);
    height: 80px;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    background-color: var(--black_op);
}

.upgrade a {
    color: var(--white);
    border: 1px solid var(--white);
    padding: 0.5rem 2rem;
    margin-right: 2rem;
    border-radius: 1.5rem;
    text-transform: uppercase;
    font-size: 0.9rem;
    transition: 0.5s;
}

.upgrade a:hover {
    scale: 0.95;
}

/* nav bar top upgrade */
.nav_content li a:hover,
#home span:hover,
#playlist a:hover span.sub_title_1,
#playlist a:hover {
    color: var(--white);
}

#playlist a:hover div.plus {
    color: var(--black);
    background-color: var(--white);
}

#home a:hover {
    border-left: 2px solid var(--lime);
    margin-left: -1rem;
    padding-left: 1rem;
}

.active::after {
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    margin: 5px auto;
    background-color: var(--lime);
}

/* sezione delle playlist in evidenza */
.card {
    width: calc((100% / 6) - 1rem);
}

.cover-overlay {
    display: none;
    background-color: var(--black_op);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

div.card:hover .cover-overlay {
    display: block;
    cursor: pointer;
}

div.cover-overlay i {
    color: var(--white);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
}

#famous_artists .card img {
    border-radius: 50%;
}

#famous_artists .card .cover-overlay {
    border-radius: 50%;
    overflow: hidden;
}

.inner_content section:last-child {
    margin-bottom: 4rem;
}

/* nav bar laterale */
.nav_bar {
    width: 230px;
    height: 100%;
    background-color: var(--black);
}

.nav-top {
    height: calc((100% - 80px) - 2rem);
}

#profile {
    position: fixed;
    bottom: 80px;
    left: 0;
    background-color: var(--black);
    width: 230px;
    padding: 1rem;
}

div.personal_playlist-list-hidden-bar {
    overflow-y: scroll;
}

/* SVG */
.logo-hidden {
    display: none;
}

.logo_box svg {
    height: 50px;
}

.icon_box path,
.download_box path {
    fill: var(--grey);
}

.icon_box svg {
    height: 30px;
}

.plus {
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 2.5rem;
    background-color: var(--grey);
    color: var(--black);
}

.download_box svg {
    height: 1rem;
}

.download_box {
    border-bottom: 1px solid var(--grey);
}

.profile_box svg {
    height: 1.3rem;
    background-color: var(--grey);
    border-radius: 50%;
}

/* FOOTER */
footer {
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--dark_grey);
    color: var(--white);
}

.inner-control-bar {
    height: 100%;
    padding: 0 15px;
    z-index: 3000;
}

.inner-control-bar-sx {
    flex-basis: 25%;
}

.inner-control-bar-center {
    padding-left: 20px;
    flex-basis: 50%;
    gap: 10px;
}

.inner-control-bar-dx {
    flex-basis: 25%;
    gap: 25px;
}

.inner-control-bar-sx img {
    width: 70px;
}

.favourite {
    color: var(--grey);
    font-size: 1.25rem;
}

.control {
    font-size: 1.5rem;
    gap: 40px;
}

.play {
    font-size: 2.5rem;
}

.time-bar {
    align-items: center;
    font-weight: 600;
    width: 100%;
}

.bar {
    height: 5px;
    width: 80%;
    border-radius: 20px;
    background-color: var(--grey-med);
    margin: 0 20px;
    position: relative;
    cursor: pointer;
}

.bar:after {
    display: block;
    position: absolute;
    content: '';
    background: var(--light-grey);
    height: 5px;
    width: 25%;
    border-radius: 20px 0 0 20px;
}

.inner-control-bar-dx i {
    font-size: 1rem;
}

.vol {
    height: 5px;
    width: 120px;
    border-radius: 20px;
    background-color: var(--grey-med);
    position: relative;
    cursor: pointer;
}

.vol:after {
    display: block;
    position: absolute;
    content: '';
    background: var(--light-grey);
    height: 5px;
    width: 30px;
    border-radius: 20px 0 0 20px;
}

footer.control-bar a:hover {
    color: var(--white);
}

/* RESPONSIVE */
@media screen and (max-width:992px) {
    :root {
        font-size: 0.9rem;
    }

    .card {
        width: calc((100% / 4) - 1rem);
    }

    .nav_content li {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width:768px) {
    .card {
        width: calc((100% / 2) - 1rem);
    }

    .upgrade {
        width: calc(100% - 60px);
    }

    .nav_bar {
        width: 60px;
        align-items: center;
    }

    .main_content {
        width: calc(100% - 60px);
    }

    #profile {
        width: 60px;
    }

    .logo-hidden {
        display: block;
    }

    .inner-control-bar-center {
        flex-direction: row;
        justify-content: center;
    }

    .logo_box svg,
    .sub_title_2-hidden,
    .title_2-hidden,
    #playlist,
    .inner-control-bar-sx div.title_2,
    .inner-control-bar-sx div.sub_title_2,
    .time-bar,
    .vol,
    .fa-random,
    .fa-redo-alt {
        display: none;
    }

}