/* Utility */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --black: rgba(0, 0, 0, 1);
    --black_op: rgba(0, 0, 0, 0.5);
    --dark_blue: rgba(20, 25, 34, 1);
    --dark_grey: rgba(40, 40, 40, 1);
    --white: rgba(255, 255, 255, 1);
    --grey: rgba(113, 113, 113, 1);
    --lime: rgba(173, 255, 47, 1);
}

/* Common */
a {
    text-decoration: none;
    display: block;
    color: var(--grey);
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

/* TEXT */

[class*=title] {
    font-weight: 700;
}

[class^=title] {
    color: var(--white);
}

[class*=sub_title] {
    color: var(--grey);
}

.title_1 {
    font-size: 1.6rem;
}

.title_2 {
    font-size: 1.1rem;
}

.sub_title_1 {
    font-size: 0.9rem;
}

.sub_title_2 {
    font-size: 0.8rem;
}

.txt_white {
    color: var(--white);
}

.txt_center {
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}


/* FLEX */

.d-flex {
    display: flex;
}

.j_center {
    justify-content: center;
}

.a_it_center {
    align-items: center;
}

.j_end {
    justify-content: flex-end;
}

.wrap {
    flex-wrap: wrap;
}


/* MARGIN - PADDING */

.mt-3rem {
    margin-top: 3rem;
}

.mt-1_5rem {
    margin-top: 1.5rem;
}

.mt-0_75rem {
    margin-top: 0.75rem;
}

.m-0_5rem {
    margin: 0.5rem;
}

.mr-0_5rem {
    margin-right: 0.5rem;
}

.mt-0_4rem {
    margin-top: 0.4rem;
}


/* Layout sezioni */
.wrapper {
    width: 100%;
    height: 100vh;
}

main {
    width: 100%;
    height: calc(100vh - 80px);
}

.nav_bar {
    width: 230px;
    height: 100%;
    background-color: var(--black);
    padding: 1rem 1rem 0 1rem;
}

.upgrade {
    width: calc(100% - 230px);
    height: 80px;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    background-color: var(--black_op);
}

.main_content {
    width: calc(100% - 230px);
    background-color: var(--dark_blue);
    overflow-y: auto;
}

.inner_content {
    height: 100%;
    padding-top: 95px;
}

/* barra opaca in alto */
.upgrade a {
    color: var(--white);
    border: 1px solid white;
    padding: 0.5rem 2rem;
    margin-right: 2rem;
    border-radius: 1.5rem;
    text-transform: uppercase;
    font-size: 0.9rem;
    transition: 0.5s;
}

.upgrade a:hover {
    scale: 0.95;
}

/* nav bar del contenuto */
.nav_content li a {
    padding: 0 0.6rem;
}

.nav_content li a:hover,
#home span:hover,
#playlist a:hover span.sub_title_1,
#playlist a:hover {
    color: var(--white);
}

#playlist a:hover div.plus {
    color: var(--black);
    background-color: var(--white);
}

#home a:hover {
    border-left: 2px solid var(--lime);
    margin-left: -1rem;
    padding-left: 1rem;
}

.active::after {
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    margin: 5px auto;
    background-color: var(--lime);
}

/* sezione delle playlist in evidenza */
.card {
    width: calc((100% / 6) - 1rem);
}

.cover-overlay {
    display: none;
    background-color: var(--black_op);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

div.card:hover .cover-overlay {
    display: block;
    cursor: pointer;
}

div.cover-overlay i {
    color: var(--white);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
}

#famous_artists .card img {
    border-radius: 50%;
    overflow: hidden;
}

.inner_content section:last-child {
    margin-bottom: 4rem;
}

/* nav bar laterale */
nav.nav_bar {
    min-height: 200px;
}

.logo_box svg {
    height: 50px;
}

.nav_bar section .icon_box:first-child {
    margin-top: 16px;
}

.icon_box path,
.download_box path {
    fill: var(--grey);
}

.icon_box svg {
    height: 30px;
    margin-right: 10px;
}

.plus {
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 2.5rem;
    background-color: var(--grey);
    color: black;
}

div.personal_playlist-list-hidden-bar {
    overflow-y: scroll;
}

#profile {
    position: fixed;
    bottom: 80px;
    left: 0;
    background-color: var(--black);
    width: 230px;
    padding: 1rem;
}

.download_box svg {
    height: 1rem;
    margin-right: 10px;
}

.download_box {
    border-bottom: 1px solid var(--grey);
    padding-bottom: 0.5rem;
}

.profile_box svg {
    height: 1.3rem;
    background-color: var(--grey);
    border-radius: 50%;
    margin-right: 10px;
}

/* FOOTER */
footer {
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--dark_grey);
}

/* RESPONSIVE */
@media screen and (max-width:992px) {
    :root {
        font-size: 0.9rem;
    }


    .card {
        width: calc((100% / 4) - 1rem);
    }

    .nav_content li {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width:768px) {
    .card {
        width: calc((100% / 2) - 1rem);
    }
}